@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');

//Primary
$Light-red: hsl(356, 100%, 66%);
$Very-light-red: hsl(355, 100%, 74%);
$Very-dark-blue: hsl(208, 49%, 24%);

//Neutral
$White: hsl(0, 0%, 100%);
$Grayish-blue : hsl(0, 0%, 93%);
$Very-dark-grayish-blue : hsl(207, 13%, 34%);
$Very-dark-black-blue : hsl(240, 10%, 16%);

//Background gradient Intro/CTA mobile:
$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

//Background gradient-body:

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);


@import 'header';
@import 'body';
@import 'footer';
@import 'section';