@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap");
header {
  width: 100%;
  height: 50rem;
  background: url(../images/bg-pattern-intro-desktop.svg) no-repeat, linear-gradient(to right, hsl(13deg, 100%, 72%) 30%, hsl(353deg, 100%, 62%) 86%);
  background-position: 24% 52%;
  border-radius: 0rem 0rem 0rem 6rem;
  margin-bottom: 7rem;
  overflow-x: hidden;
}
header .header_up {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5rem;
  margin-bottom: 11rem;
}
header .header_up .header_logo_nav {
  width: 100%;
  max-width: 35rem;
  display: flex;
  justify-content: space-between;
}
header .header_up .header_logo_nav ul {
  width: 100%;
  max-width: 24rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_up .header_logo_nav ul li {
  width: 100%;
  max-width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
  cursor: pointer;
  transition: 0.4s;
}
header .header_up .header_logo_nav ul li:hover {
  color: white;
  transform: scale(1.03);
  text-decoration: underline;
}
header .header_up .header_logo_nav ul .rotate {
  transform: rotate(180deg);
  transition: 0.4s;
}
header .header_up .header_logo_nav ul .drop_down {
  content: "";
  width: 100%;
  max-width: 10rem;
  height: 13rem;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 10rem;
  top: 8rem;
  background-color: white;
  border-radius: 13px;
  padding: 0.7rem;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.19);
}
header .header_up .header_logo_nav ul .drop_down li {
  color: hsl(240deg, 10%, 16%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
header .header_up .header_logo_nav ul .drop_down li:hover {
  color: black;
  transform: scale(1.02);
}
header .header_up .header_logo_nav ul .show {
  opacity: 1;
  -webkit-animation: fade-in 0.4s;
          animation: fade-in 0.4s;
}
header .header_up .header_logo_nav ul .drop_company {
  content: "";
  width: 100%;
  max-width: 10rem;
  height: 10rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  left: 21.93rem;
  top: 8rem;
  background-color: white;
  border-radius: 13px;
  padding: 1rem;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.19);
}
header .header_up .header_logo_nav ul .drop_company li {
  color: hsl(240deg, 10%, 16%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
header .header_up .header_logo_nav ul .show {
  opacity: 1;
  transition: 0.4s;
}
header .header_up .header_logo_nav ul .drop_connect {
  content: "";
  width: 100%;
  max-width: 10rem;
  height: 8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  left: 32.93rem;
  top: 8rem;
  background-color: white;
  border-radius: 13px;
  padding: 1rem;
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.19);
}
header .header_up .header_logo_nav ul .drop_connect li {
  color: hsl(240deg, 10%, 16%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
header .header_up .header_logo_nav ul .show {
  opacity: 1;
  transition: 0.4s;
}
header .header_up .header_logo_nav .logo {
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}
header .header_up .login_sign {
  width: 100%;
  max-width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_up .login_sign a {
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 100%);
  transition: 0.4s;
}
header .header_up .login_sign a:hover {
  color: white;
  transform: scale(1.03);
}
header .header_up .login_sign .btn_sign {
  width: 100%;
  max-width: 10rem;
  height: 3rem;
  border-radius: 25px;
  background-color: white;
  border: none;
  font-size: 1.15rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: hsl(353deg, 100%, 62%);
  cursor: pointer;
  transition: 0.4s;
}
header .header_up .login_sign .btn_sign:hover {
  background-color: transparent;
  border: 0.17rem hsl(0deg, 0%, 100%) solid;
  color: hsl(0deg, 0%, 100%);
  transform: scale(1.05);
}
header .header_down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header_down h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 3.8rem;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}
header .header_down .header_under_h1 {
  color: hsl(0deg, 0%, 93%);
  font-size: 1.4rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  margin-bottom: 4rem;
}
header .header_down .btn_start {
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_down .btn_start .start {
  width: 100%;
  max-width: 12rem;
  height: 3rem;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(353deg, 100%, 62%);
  cursor: pointer;
  transition: 0.4s;
}
header .header_down .btn_start .start:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  border: 0.17rem hsl(0deg, 0%, 100%) solid;
}
header .header_down .btn_start .learn {
  width: 100%;
  max-width: 12rem;
  height: 3rem;
  border-radius: 25px;
  border: 0.17rem hsl(0deg, 0%, 100%) solid;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
header .header_down .btn_start .learn:hover {
  background-color: white;
  color: hsl(353deg, 100%, 62%);
  transform: scale(1.02);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  width: 100%;
  height: 25rem;
  background-color: hsl(237deg, 17%, 21%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem;
}
footer .footer_content {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content p {
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: hsl(0deg, 0%, 100%);
}
footer .footer_content ul {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: hsl(0deg, 0%, 93%);
}
footer .footer_content ul li {
  cursor: pointer;
  transition: 0.4s;
}
footer .footer_content ul li:hover {
  transform: scale(1.03);
  color: white;
}
footer .footer_content_connect {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content_connect p {
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: hsl(0deg, 0%, 100%);
}
footer .footer_content_connect ul {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: hsl(0deg, 0%, 93%);
}
footer .footer_content_connect ul li {
  cursor: pointer;
  transition: 0.4s;
}
footer .footer_content_connect ul li:hover {
  transform: scale(1.03);
  color: white;
}

main {
  overflow-x: hidden;
}
main h2 {
  text-align: center;
  font-size: 2.3rem;
  font-family: "Ubunto", sans-serif;
  color: hsl(208deg, 49%, 24%);
}
main .first_content {
  display: flex;
  margin-bottom: 2rem;
}
main .first_content .article {
  width: 50%;
  padding: 7rem;
}
main .first_content .article h3 {
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: hsl(208deg, 49%, 24%);
  margin-bottom: 1.5rem;
}
main .first_content .article .article_p {
  font-family: "Overpass", sans-serif;
  font-size: 1.22rem;
  margin-bottom: 2rem;
}
main .first_content .img_cam {
  width: 50%;
}
main .first_content .img_cam .editor {
  width: 100%;
}
main .secund_content {
  height: 31rem;
  display: flex;
  background: url(../images/bg-pattern-circles.svg) no-repeat;
  background-color: hsl(237deg, 23%, 32%);
  background-position-x: -13rem;
  background-position-y: -33rem;
  border-radius: 0rem 7rem 0rem 7rem;
  margin-bottom: 7rem;
}
main .secund_content .img_phones {
  width: 40%;
}
main .secund_content .phones_article {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .secund_content .phones_article .phones_h2 {
  width: 100%;
  color: white;
  text-align: initial;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}
main .secund_content .phones_article .phone_p {
  width: 100%;
  max-width: 41rem;
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  color: rgb(199, 195, 195);
}
main .third_content {
  display: flex;
}
main .third_content .img_laptop {
  width: 56%;
  margin-left: -14rem;
}
main .third_content .img_laptop img {
  width: 100%;
}
main .third_content .laptop_article {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 22rem;
}
main .third_content .laptop_article h2 {
  font-size: 1.9rem;
  font-weight: 580;
  font-family: "Overpass", sans-serif;
}
main .third_content .laptop_article p {
  font-size: 1.22rem;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.05rem;
}

@-webkit-keyframes fade-in {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=main.css.map */